# Project Proposal
1. We aim to make a website that allows users to explore scientific literature and perform literature review through browsing entities and relationships such as papers, authors, publications, institutions, co-authorship & citation relationship graphs, etc. 

2. We will do the web front-end option. Users will interact with our application by searching for papers/authors, and our website will provide papers in the paper's local citation network (papers that cite/are cited by the paper), and authors in the author’s local co-authorship network (authors that have co-authored with the author).

3. Our website will also show more data for papers/authors such as author affiliation, paper publication date, abstract, url, venue, and DOI identifiers.

4. Users will be able to create “collections” of papers, which will show up on their profile.
The incomplete ER diagram for our project.

# Data Plan
1. We plan to populate our database with data from datasets provided by the Semantic Scholar API.

2. These datasets contain large amounts of data for most of the entities/relationship sets in our scope, which we will parse to extract the fields and populate our database.

3. We may enrich this data with additional "fake attributes" (generated by us) in case they don't have some information we would like to show.

4. We might not use the entire datasets, as they are very large (>50 Gb) and may go beyond our database resources.

5. Website user data (usernames, emails…) will be invented manually, or generated randomly.

6. We might refine the ER diagram while we parse the data, in case we find an integrity constrait that wasn't added, or realize we added an integrity constraint that the data does not obey.

# ER Diagram


![alternative text](ERD.png)

# Schema

In [1]:
"""
    CREATE TABLE Alias(
        alias_name VARCHAR(50)
        PRIMARY KEY(alias_name)
    )

    CREATE TABLE KnownAs(
        author_id VARCHAR(10)
        alias_name VARCHAR(50)
        PRIMARY KEY(author_id, alias_name)
        FOREIGN KEY(author_id) REFERENCES Author
            ON DELETION CASCADE
            ON UPDATE CASCADE
        FOREIGN KEY(alias_name) REFERENCES Alias
            ON DELETION CASCADE
            ON UPDATE CASCADE
    )
    ***: Alias has a participation contraint on
            KnownAs, but we don't know how to model
            that yet.

    CREATE TABLE Author(
        author_id VARCHAR(10)
        author_name VARCHAR(50)
        h_index INTEGER
        author_link TEXT
        PRIMARY KEY(author_id)
    )

    CREATE TABLE Authored(
        author_id VARCHAR(10)
        paper_id VARCHAR(10)
        PRIMARY KEY(author_id, paper_id)
        FOREIGN KEY(author_id) REFERENCES Author
            ON DELETION CASCADE
            ON UPDATE CASCADE
        FOREIGN KEY(paper_id) REFERENCES Paper
            ON DELETION CASCADE
            ON UPDATE CASCADE
    )
    ***: Paper has a participation contraint on
            Authored, but we don't know how to model
            that yet.

    CREATE TABLE Paper(
        paper_id VARCHAR(10)
        title TEXT
        abstract TEXT
        date_published DATE
        url TEXT
        publication_id VARCHAR(10) NOT NULL
        PRIMARY KEY(paper_id)
        FOREIGN KEY(publication_id) REFERENCES Publication
            ON DELETE NO ACTION
            ON UPDATE CASCADE
    )

    CREATE TABLE Publication(
        publication_id VARCHAR(10)
        publication_name VARCHAR(50),
        PRIMARY KEY(publication_id)
    )

    CREATE TABLE CitedBy(
        paper_cited VARCHAR(10)
        paper_citing VARCHAR(10),
        PRIMARY KEY(paper_cited, paper_citing)
    )

    CREATE TABLE AlsoIdentifiedByPublicId(
        public_id VARCHAR(10)
        public_id_type VARCHAR(20)
        paper_id VARCHAR(10),
        PRIMARY KEY(public_id, public_id_type, paper_id),
        FOREIGN KEY(paper_id) REFERENCES Paper 
            ON DELETE CASCADE
            ON UPDATE CASCADE
    )
    ***: PublicIds has a participation contraint on
            AlsoIdentifiedBy, but we don't know how to model
            that yet.

    CREATE TABLE Includes(
        collection_name VARCHAR(20)
        paper_id VARCHAR(10)
        email VARCHAR(50)
        since DATE
        PRIMARY KEY(collection_name, email, paper_id)
        FOREIGN KEY(collection_name, email) REFERENCES Collections 
            ON DELETE CASCADE
            ON UPDATE CASCADE
        FOREIGN KEY(paper_id) REFERENCES Paper 
            ON DELETE CASCADE
            ON UPDATE CASCADE
    )

    CREATE TABLE User(
        email VARCHAR(50)
        username VARCHAR(20)
        password_hash CHAR(256),
        PRIMARY KEY(email)
    )

    CREATE Has(
        collection_name VARCHAR(20)
        email VARCHAR(50)
        since DATE,
        PRIMARY KEY(collection_name, email),
        FOREIGN KEY(email) REFERENCES User 
            ON DELETE CASCADE
            ON UPDATE CASCADE
    )
"""

"""
    ids: VARCHAR(10)
    names: VARCHAR(50)
    email: VARCHAR(50)
    username/collection_name: VARCHAR(20)
    public_id_type: VARCHAR(20)
    password_hash: CHAR(256)
"""

'\n    ids: VARCHAR(10)\n    names: VARCHAR(50)\n    email: VARCHAR(50)\n    username/collection_name: VARCHAR(20)\n    public_id_type: VARCHAR(20)\n    password_hash: CHAR(256)\n'

In [2]:
"""
    CREATE TABLE User(
        email VARCHAR(20)
        username VARCHAR(20)
        password_hash VARCHAR(256),
        PRIMARY KEY(email)
    )
    

       CREATE TABLE Collections_has(
        collection_name VARCHAR(20)
        email VARCHAR(20)
        since DATE,
        PRIMARY KEY(collection_name,email),
        FOREIGN KEY(email) REFERENCES User 
        ON DELETE CASCADE
        ON UPDATE CASCADE
    )



        CREATE TABLE Paper(
        paper_id VARCHAR(20)
        title VARCHAR(20)
        abstract VARCHAR(100)
        date_published DATE
        url VARCHAR(40),
        PRIMARY KEY(paper_id)

    )




        CREATE TABLE Includes(
        collection_name VARCHAR(20)
        paper_id VARCHAR(20)
        since DATE,
        PRIMARY KEY(collection_name,paper_id),
        FOREIGN KEY(collection_name) REFERENCES User 
        ON DELETE CASCADE
        ON UPDATE CASCADE
        FOREIGN KEY(paper_id) REFERENCES Paper 
        ON DELETE CASCADE
        ON UPDATE CASCADE
    )



        CREATE TABLE PublicIds(
        public_id VARCHAR(20)
        public_id_type VARCHAR(20),
        PRIMARY KEY(public_id,public_id_type)
    )


        CREATE TABLE AlsoIdentifiedBy(
        public_id VARCHAR(20)
        public_id_type VARCHAR(20)
        paper_id VARCHAR(20),
        PRIMARY KEY(public_id,public_id_type,paper_id),
        FOREIGN KEY(public_id) REFERENCES PublicIds 
        ON DELETE CASCADE
        ON UPDATE CASCADE
        FOREIGN KEY(public_id_type) REFERENCES PublicIds 
        ON DELETE CASCADE
        ON UPDATE CASCADE
        FOREIGN KEY(paper_id) REFERENCES Paper 
        ON DELETE CASCADE
        ON UPDATE CASCADE
    )

        
        CREATE TABLE CitiedBy(
        paper_cited VARCHAR(20)
        paper_citing VARCHAR(20),
        PRIMARY KEY(paper_cited,paper_citing)
    )

        CREATE TABLE Publication(
        publication_id VARCHAR(20)
        publication_name VARCHAR(20),
        PRIMARY KEY(publication_id)
    )

    
        CREATE TABLE Paper_PushedIn(
        paper_id VARCHAR(20)
        title VARCHAR(20)
        abstract VARCHAR(100)
        date_published DATE
        url VARCHAR(40),
        publication_id VARCHAR(20) NOT NULL
        publication_name VARCHAR(20),
        PRIMARY KEY(paper_id),
        FOREIGN KEY(paper_id) REFERENCES Paper 
        ON DELETE CASCADE
        ON UPDATE CASCADE
    )


        CREATE TABLE Institution(
        institution_id VARCHAR(20)
        institution_name VARCHAR(20)
        PRIMARY KEY(institution_id)
    )

    

        CREATE TABLE Affiliation(
        author_id VARCHAR(20)
        institution_id VARCHAR(20)
        PRIMARY KEY(author_id,institution_id),
        FOREIGN KEY(author_id) REFERENCES Author 
        ON DELETE CASCADE
        ON UPDATE CASCADE
        FOREIGN KEY(institution_id) REFERENCES Institution 
        ON DELETE CASCADE
        ON UPDATE CASCADE
    )



"""

'\n    CREATE TABLE User(\n        email VARCHAR(20)\n        username VARCHAR(20)\n        password_hash VARCHAR(256),\n        PRIMARY KEY(email)\n    )\n    \n\n       CREATE TABLE Collections_has(\n        collection_name VARCHAR(20)\n        email VARCHAR(20)\n        since DATE,\n        PRIMARY KEY(collection_name,email),\n        FOREIGN KEY(collection_name) REFERENCES User \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n    )\n\n\n\n        CREATE TABLE Paper(\n        paper_id VARCHAR(20)\n        title VARCHAR(20)\n        abstract VARCHAR(100)\n        date_published DATE\n        url VARCHAR(40),\n        PRIMARY KEY(paper_id)\n\n    )\n\n\n\n\n        CREATE TABLE Includes(\n        collection_name VARCHAR(20)\n        paper_id VARCHAR(20)\n        since DATE,\n        PRIMARY KEY(collection_name,paper_id),\n        FOREIGN KEY(collection_name) REFERENCES User \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n        FOREIGN KEY(paper_id) REFERENCES Paper \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n    )\n\n\n\n        CREATE TABLE PublicIds(\n        public_id VARCHAR(20)\n        public_id_type VARCHAR(20),\n        PRIMARY KEY(public_id,public_id_type)\n    )\n\n\n        CREATE TABLE AlsoIdentifiedBy(\n        public_id VARCHAR(20)\n        public_id_type VARCHAR(20)\n        paper_id VARCHAR(20),\n        PRIMARY KEY(public_id,public_id_type,paper_id),\n        FOREIGN KEY(public_id) REFERENCES PublicIds \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n        FOREIGN KEY(public_id_type) REFERENCES PublicIds \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n        FOREIGN KEY(paper_id) REFERENCES Paper \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n    )\n\n        \n        CREATE TABLE CitiedBy(\n        paper_cited VARCHAR(20)\n        paper_citing VARCHAR(20),\n        PRIMARY KEY(paper_cited,paper_citing)\n    )\n\n        CREATE TABLE Publication(\n        publication_id VARCHAR(20)\n        publication_name VARCHAR(20),\n        PRIMARY KEY(publication_id)\n    )\n\n    \n        CREATE TABLE Paper_PushedIn(\n        paper_id VARCHAR(20)\n        title VARCHAR(20)\n        abstract VARCHAR(100)\n        date_published DATE\n        url VARCHAR(40),\n        publication_id VARCHAR(20) NOT NULL\n        publication_name VARCHAR(20),\n        PRIMARY KEY(paper_id),\n        FOREIGN KEY(paper_id) REFERENCES Paper \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n    )\n\n\n        CREATE TABLE Institution(\n        institution_id VARCHAR(20)\n        institution_name VARCHAR(20)\n        PRIMARY KEY(institution_id)\n    )\n\n    \n\n        CREATE TABLE Affiliation(\n        author_id VARCHAR(20)\n        institution_id VARCHAR(20)\n        PRIMARY KEY(author_id,institution_id),\n        FOREIGN KEY(author_id) REFERENCES Author \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n        FOREIGN KEY(institution_id) REFERENCES Institution \n        ON DELETE CASCADE\n        ON UPDATE CASCADE\n    )\n\n\n\n'