## Intro. Databases Project Part 2
### Gabriel Guerra Trigo(ggt2112) and Ritwik Goel(rg3546)

1. Name and UNI of both teammates: Gabriel Guerra Trigo(ggt2112), Ritwik Goel(rg3546)
2. UNI used to identify database: ggt2112
3. Queries: shown below

In [ ]:
"""
SELECT MAX(a.author_name) AS Author, count(a.author_id) 
AS "Papers since 2017-05-14"
FROM author a 
LEFT JOIN authored ad ON ad.author_id = a.author_id 
LEFT JOIN paper p ON p.paper_id = ad.paper_id
WHERE p.date_published > '2017-05-14'
GROUP BY a.author_id
ORDER BY "Papers since 2017-05-14" DESC;

Description: number of papers published by each professor
    since May 14th 2017. Ordered from most
    number of papers published to least.
"""

In [ ]:
"""
WITH colaborations (paper_id, num_authors) AS (
    SELECT p.paper_id, count(a.author_id) AS num_authors
    FROM paper p 
    LEFT JOIN authored ad ON p.paper_id = ad.paper_id
    LEFT JOIN author a on ad.author_id = a.author_id
    GROUP BY p.paper_id HAVING count(a.author_id) > 1
    ORDER BY num_authors DESC
)
SELECT ad.author_id, MAX(a.author_name), COUNT(colaborations.paper_id)
FROM colaborations
LEFT JOIN Authored ad on colaborations.paper_id = ad.paper_id
LEFT JOIN Author a on a.author_id = ad.author_id
GROUP BY ad.author_id
ORDER BY COUNT(colaborations.paper_id) DESC;

Description: number of papers published with another
    professor in the database as a coauthor (number of collaborations). 
    Ordered from most collaborations to the least.
"""

In [ ]:
"""
SELECT publication_name, COUNT(publication_name) FROM Paper
GROUP BY publication_name
ORDER BY COUNT(publication_name) DESC
LIMIT 10;

Description: top 10 publications where the most number of 
    papers in the database were published. Ordered from most
    papers published to least.
"""